<%- include("../partials/adminHeader") %>
        <section class="content-main" style="background-color: white;">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Add New Product</h2>
                    
                    <span class="text-center w-50 mx-auto" style=" display: block;  color: rgb(23, 200, 14);" id="errormessage"></span>
                   
                </div>
             
                   
                    
               
                
                   
                
                
                <div>
                    <!-- <a href="#" class="btn btn-light rounded font-md">Export</a>
                    <a href="#" class="btn btn-light rounded  font-md">Import</a> -->
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <!-- <div class="row align-items-center">
                        <div class="col col-check flex-grow-0">
                            <div class="form-check ms-2">
                                <input class="form-check-input" type="checkbox" value="">
                            </div>
                        </div>
                        <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                            <select class="form-select">
                                <option selected>All category</option>
                                <option>Electronics</option>
                                <option>Clothes</option>
                                <option>Automobile</option>
                            </select>
                        </div>
                        <div class="col-md-2 col-6">
                            <input type="date" value="02.05.2021" class="form-control">
                        </div>
                        <div class="col-md-2 col-6">
                            <select class="form-select">
                                <option selected>Status</option>
                                <option>Active</option>
                                <option>Disabled</option>
                                <option>Show all</option>
                            </select>
                        </div>
                    </div> -->
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="card-body">
                        <form method="post"  id="productform"  enctype="multipart/form-data" >
                            <div class="mb-4">
                                <label for="product_name" class="form-label">Product Name</label>
                                <input type="text" placeholder="Type here" name="productName" class="form-control border" id="productnameX">
                                <div id="productName-error" class="error-message"></div>
                            </div>
                            <div class="col-lg-4 mb-4">
                                <label class="form-label">Brand</label>
                                <select class="form-select border" name="brand">
                                    <% for (let i=0; i < brand.length; i++) { %>
                                        <option value="<%=brand[i].brandName %>">

                                            <%= brand[i].brandName %>
                                        </option>
                                        <% } %>
                                </select>
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Full description</label>
                                <textarea placeholder="Type here" name="description"  id="descriptionX" class="form-control border" rows="4"></textarea>
                                <div id="description-error" class="error-message"></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Regular price</label>
                                        <input placeholder="$"  id="regularPriceX"  name="regularPrice" type="text" class="form-control border">
                                        <div id="regularPrice-error" class="error-message"></div>
                        
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Discount</label>
                                        <div class="input-group">
                                            <input placeholder="$" id="discountX" name="discount" type="text" class="form-control border">
                                            <div class="input-group-append">
                                                <span class="input-group-text" style="background-color: #fff; border: none; border-left: 1px solid #ced4da;">%</span>
                                            </div>
                                        </div>
                                        <div id="discount-error" class="error-message"></div>
                                    </div>
                                    
                                </div>
                                <div class="col-lg-4">
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Small Size-Quantity</label>
                                        <input placeholder="" id="ssizeq" name="smallsize" type="text" class="form-control border">
                                        <div id="s-error" class="error-message"></div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Medium Size-Quantity</label>
                                        <input placeholder="" name="mediumsize" type="text" class="form-control border" id="msizeq">
                                        <div id="m-error" class="error-message"></div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Large Size-Quantity</label>
                                        <input placeholder="" name="largesize" type="text" class="form-control border" id="lsizeq">
                                        <div id="l-error" class="error-message"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 offset-lg-4"> 
                                    <div id="sumquantity-error" class="error-message"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Color</label>
                                        <input placeholder="" name="color" type="text" class="form-control border" id="colorX">
                                        <div id="color-error" class="error-message"></div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="row gx-2">
                                        <div class="col-sm-6 mb-3">
                                            <label class="form-label">Category</label>
                                            <select class="form-select border" style="width: 150px;" name="category">
                                                <% for (let i=0; i < cat.length; i++) { %>
                                                    
                                                    <option value="<%= cat[i]._id %>">
                                                        <%= cat[i].name %>
                                                    </option>
                                                    <% } %>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-2">
                                <div class="card-header">
                                    <h4>Choose images</h4>
                                </div>
                                <div class="border row">
                                    <div id="addedImagesContainer" class="thumbnails-container" style="display: flex;"></div>
                                </div>
                                <div class="card-body">
                                    <div class="input-upload">
                                        <img src="assets/imgs/theme/upload.svg" alt="">
                                        <input class="form-control border" name="images" id="imageInput" type="file" multiple>
                                        <span id="fileerrormessage" class="text-center w-50 mx-auto" style="display: block;color: red; "></span>
                                        <!-- <div id="error6" style="display: none;" class="alert alert-danger err"> -->
                                        </div>
                                        </p>
                                        <div id="previewContainer" style="height:5%;"></div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <input class="btn btn-md rounded font-sm" id="formsubmit" onclick="validateAndSubmit()" type="submit" value="Publish" style="background-color: rgb(21, 119, 204);color: white;">


                            </div>
                            <input type="hidden" id="hiddenField1" name="hiddenField1" value="">
                            <input type="hidden" id="hiddenField2" name="hiddenField2" value="">
                            <input type="hidden" id="hiddenField3" name="hiddenField3" value="">
                            <input type="hidden" id="hiddenField4" name="hiddenField4" value="">
                            <input type="hidden" id="hiddenField5" name="hiddenField5" value="">
            
                            <div id="myModal" class="modal">
                                <span class="close">&times;</span>
                                <!-- <img class="modal-content" height="100%" id="img01"> -->
                                <div class="modal-content img-container">
                                    <img id='image' src="" alt="">
                                </div>
                                <button id="btn-crop" type="button">Crop</button>
                                <div class="cropped-container">
                                    <img id="output" src="" alt="">
                                </div>
                            </div>

                        </form>
                
                </div> <!-- card-body end// -->
                
                
                
            </div> <!-- card end// -->
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="/public/admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/public/admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/public/admin-assets/js/vendors/select2.min.js"></script>
    <script src="/public/admin-assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/public/admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
     <script src="/public/js/productValidation.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <!-- <script src="/public/cropperjs/cropper.js"></script> -->
    
   
    <!-- Main Script -->
    <script src="/public/admin-assets/js/main.js" type="text/javascript"></script>
    <script>
        const hidden1 = document.getElementById('hiddenField1')
        const hidden2 = document.getElementById('hiddenField2')
       const hidden3 = document.getElementById('hiddenField3')
          const hidden4 = document.getElementById('hiddenField4')
         const hidden5 = document.getElementById('hiddenField5')
          const fileerrormessage= document.getElementById('fileerrormessage')
        $(document).ready(function () {
            $('#customerlist').DataTable();
        })
 
        //array to store the selecting images
        const selectedImages = []
        document.getElementById('imageInput').addEventListener("change", handleFileSelect)
    
        function handleFileSelect(event) {
            // console.log(event.target)
            let  selectedFiles = []
            const addedImagesContainer = document.getElementById("addedImagesContainer")
            addedImagesContainer.innerHTML = " ";
            
            const files = event.target.files;
            if (files.length>5) {
                return  fileerrormessage.innerHTML = "please add 5 images only"
            }else{
                fileerrormessage.innerHTML = ""
            }
            selectedFiles = Array.from(files);
            for (var i = 0; i < selectedFiles.length; i++) {
                
              var file = selectedFiles[i];
              let ind =i
              if (!file.type.startsWith('image/')) {
                return  fileerrormessage.innerHTML = "please add images only"
              }else{
                fileerrormessage.innerHTML = ""
              }

        var reader = new FileReader();
       
        const imageInput =document.getElementById("imageInput")
        reader.onload = (function (currentFile) {
            return function (e) {
                var previewImage = document.createElement('img');
                previewImage.className = 'preview-image';
                previewImage.src = e.target.result;
                previewImage.title = currentFile.name;

                const deleteButton = document.createElement('button');
                deleteButton.innerHTML = 'Delete';
                deleteButton.type = 'button';
                deleteButton.addEventListener('click', function () {
                           
                                       const container = deleteButton.parentNode;
                       container.parentNode.removeChild(container);
                   
                       // Remove the file from the selectedFiles array
                       selectedFiles.splice(ind, 1);
                   
                       // Create a new FileList with the remaining files
                       const remainingFileList = new DataTransfer();
                       selectedFiles.forEach(file => {
                           remainingFileList.items.add(file);
                       });
                   
                       // Assign the new FileList to the file input field
                       imageInput.files = remainingFileList.files;
                   
                       // Update the length property of the file input field
                       imageInput.files.length = selectedFiles.length;
                });

            
                var viewButton = document.createElement('button');
                viewButton.innerHTML = 'View';
                viewButton.id = `view${ind}`
                viewButton.type = 'button'
                viewButton.onclick = function() {
                    var modal = document.getElementById('myModal');
                    // var modalImg = document.getElementById('img01');
                    modal.style.display = 'block';
                    // modalImg.src = e.target.result;


                    const image = document.getElementById('image');
                    image.src = e.target.result
                    let cropper = new Cropper(image, {
                        aspectRatio: 1/1,
                        viewMode:3
                    
                    });

                    document.querySelector('#btn-crop').addEventListener('click',async function(){
                        var croppedImage = await cropper.getCroppedCanvas().toDataURL("image/png");
                        let dimensions = cropper.getData()
                        // console.log(ind);
                        // console.log(dimensions);
                        previewImage.src= croppedImage
                        let x=dimensions.x
                        let y=dimensions.y

                        let height=dimensions.height

                        let width=dimensions.width

                        const imagedata="index= "+ind+" x= "+x+" y= "+y+" width= "+width+" height= "+height
                        // console.log(imagedata);

                        if(ind == 0){
                            hidden1.value = imagedata
                        }
                        if(ind == 1){
                            hidden2.value = imagedata
                        }
                        if(ind == 2){
                            hidden3.value = imagedata
                        }
                        if(ind == 3){
                            hidden4.value = imagedata
                        }
                        if(ind == 4){
                            hidden5.value = imagedata
                        }

                     
                        document.querySelector(".cropped-container").style.display = 'none';
                         modal.style.display = 'none';
                        cropper.destroy()
                    })
                    document.getElementsByClassName('close')[0].onclick = function() {
                        document.getElementById('myModal').style.display = 'none';
                        cropper.destroy()
                    };
                };

           
             
            

                var container = document.createElement('div');
                container.appendChild(previewImage);
                container.appendChild(viewButton);
                container.appendChild(deleteButton);
                addedImagesContainer.appendChild(container);
                // previewContainer.appendChild(container);
            };
        })(file);

        reader.readAsDataURL(file);
    }
} 
        



// Close modal when clicking anywhere outside the modal
// window.onclick = function(event) {
//     var modal = document.getElementById('myModal');
//     if (event.target == modal) {
//         modal.style.display = 'none';
//     }
// };


        
    </script>
    
</body>


</html>