<%- include("../partials/adminHeader") %>
        <section class="content-main" style="background-color: white;">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Category List</h2>
                   
                </div>
                <% if (locals.message) { %>
                    <span class="text-center w-50 mx-auto" style=" display: block;  color:rgb(92, 226, 9);" id="insertmessage"><%=message %></span>
                 
                <% } %>
                <div>
                    <!-- <a href="#" class="btn btn-light rounded font-md">Export</a>
                    <a href="#" class="btn btn-light rounded  font-md">Import</a> -->
                    <a href="/admin/addcategory" class="btn  btn-sm rounded" style="background-color: rgb(15, 148, 224); color: white;">Add Category</a>
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <!-- <div class="row align-items-center">
                        <div class="col col-check flex-grow-0">
                            <div class="form-check ms-2">
                                <input class="form-check-input" type="checkbox" value="">
                            </div>
                        </div>
                        <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                            <select class="form-select">
                                <option selected>All category</option>
                                <option>Electronics</option>
                                <option>Clothes</option>
                                <option>Automobile</option>
                            </select>
                        </div>
                        <div class="col-md-2 col-6">
                            <input type="date" value="02.05.2021" class="form-control">
                        </div>
                        <div class="col-md-2 col-6">
                            <select class="form-select">
                                <option selected>Status</option>
                                <option>Active</option>
                                <option>Disabled</option>
                                <option>Show all</option>
                            </select>
                        </div>
                    </div> -->
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                        </th>
                                        <th>Name</th>
                                        <th colspan="2">Description</th> <!-- colspan is set to 2 for more width -->
                                        <th>Status</th>
                                        <th>List/Unlist</th>
                                        <th class="text-start">Edit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(let i=0; i < category.length ; i++) { %>
                                        <tr>
                                            <td>
                                                <!-- Content for the first column, if needed -->
                                            </td>
                                            <td class="text-start"><%= category[i].name %></td>
                                            <td colspan="2" class="text-start"><%= category[i].description %></td> <!-- colspan is set to 2 for more width -->
                                            <td class="text-start">
                                                <% if (category[i].islisted === true) { %>
                                                    <span class="badge rounded-pill " style="width: 60px; background-color: rgb(3, 181, 3);" id="listed">Listed</span>
                                                <% } else { %>
                                                    <span class="badge rounded-pill " style="width: 60px; background-color: red;" id="unlisted">Unlisted</span>
                                                <% } %>
                                            </td>                                        
                                            <td class="text-start">
                                                <% if (category[i].islisted === true) { %>
                                                    <button id="unlistedButton<%=category[i]._id %>" class="btn" style="width: 70px; background-color: rgb(255, 0, 0); color: white;"  onclick="unlist('<%= category[i]._id %>', 'Unlist')">
                                                       Unlist
                                                    </button>
                                                <% } else { %>
                                                    <button id="listedButton<%=category[i]._id %>" class="btn btn-success" style="width: 70px; background-color: rgb(15, 193, 15);" onclick="unlist('<%= category[i]._id %>','list')">
                                                      List
                                                    </button>
                                                <% } %>
                                                
                                                
                                            </td>
                                            <td class="text-start">
                                                <button class="btn btn-info">
                                                    <a href="/admin/editCategory?id=<%= category[i]._id %>" class="text-white">Edit</a>
                                                </button>
                                            </td>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                    
                            </div>
                            
                        </div>
                        
                    </div>
                    
                   
                
                    <!-- itemlist .// -->
                
                </div> <!-- card-body end// -->
                
                
                
            </div> <!-- card end// -->
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="/public/admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
<script src="/public/admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
<script src="/public/admin-assets/js/vendors/select2.min.js"></script>
<script src="/public/admin-assets/js/vendors/perfect-scrollbar.js"></script>
<script src="/public/admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<!-- Main Script -->
<script src="/public/admin-assets/js/main.js" type="text/javascript"></script>

<script>
   function unlist(categoryId,clicked) {
      let confirmationMessage 
        if (clicked === 'Unlist') {
           confirmationMessage = "Are you sure you want to unlist this category?" 
        }else{
         confirmationMessage = "Are you sure you want to list this category?"
        }
            
    swal({
        text: confirmationMessage ,
        buttons: ["cancel", true],
    }).then((result) => {
        if (result) {
            $.ajax({
                url: `/admin/unlist?id=${categoryId}`,
                method: 'PATCH',
                contentType: 'application/json',
                success: function(data) {
                    if (data.success) {
                    if (clicked === 'Unlist') {
                     swal("Category Unlisted!", {
                        icon: "success",
                    }).then(() => {
                        location.reload();
                    });
                } else {
                    swal("Category Listed!", {
                        icon: "success",
                    }).then(() => {
                       
                        location.reload();
                    });
                }
            } else {
                console.error('Unlisting failed');
            }
        },
                error: function(error) {
                    
                    swal("Oops!", "Failed to unlist the category. Please try again.", "error");
                    console.error('AJAX error:', error);
                }
            });
        } else {
            // If the user cancels, do nothing
            // Optionally, you can display a message here 
        }
    });
}


    setTimeout(() => {
        const insertmessage = document.getElementById("insertmessage");
        insertmessage.style.display = "none";
    }, 5000);
</script>

</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-products-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:12 GMT -->
</html>