<%- include("../partials/adminHeader") %>
        <section class="content-main" style="background-color: white;">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Edit Product</h2>
                   
                </div>
                <% if (locals.message) { %>
                    <span class="text-center w-50 mx-auto" style=" display: block;  color:red;" id="insertmessage"><%=message %></span>
                 
                <% } %>
                <div>
                    <!-- <a href="#" class="btn btn-light rounded font-md">Export</a>
                    <a href="#" class="btn btn-light rounded  font-md">Import</a> -->
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <!-- <div class="row align-items-center">
                        <div class="col col-check flex-grow-0">
                            <div class="form-check ms-2">
                                <input class="form-check-input" type="checkbox" value="">
                            </div>
                        </div>
                        <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                            <select class="form-select">
                                <option selected>All category</option>
                                <option>Electronics</option>
                                <option>Clothes</option>
                                <option>Automobile</option>
                            </select>
                        </div>
                        <div class="col-md-2 col-6">
                            <input type="date" value="02.05.2021" class="form-control">
                        </div>
                        <div class="col-md-2 col-6">
                            <select class="form-select">
                                <option selected>Status</option>
                                <option>Active</option>
                                <option>Disabled</option>
                                <option>Show all</option>
                            </select>
                        </div>
                    </div> -->
                </header> <!-- card-header end// -->
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="card mb-4">
                            <div class="card-body">
                                <form method="post" action="/admin/editProduct/<%=product._id%>"  enctype="multipart/form-data" id="editproductForm" >
                
                                    <!-- Product Name -->
                                    <div class="mb-4">
                                        <label for="product_name" class="form-label">Product Name</label>
                                        <input type="text" name="productName" value="<%= product.productName %>" class="form-control" id="productnameX">
                                        <div id="productName-error" class="error-message"></div>
                                    </div>
                
                                    <!-- Brand -->
                                    <div class="mb-4">
                                        <label class="form-label">Brand</label>
                                        <select class="form-select" name="brand">
                                            <% for (let i=0; i < brand.length; i++) { %>
                                                <option value="<%= brand[i].brandName %>" <% if (brand[i].brandName === product.brand) { %> selected <% } %>><%= brand[i].brandName %></option>
                                                <% } %>
                                        </select>
                                    </div>
                
                                    <!-- Full Description -->
                                    <div class="mb-4">
                                        <label class="form-label">Full Description</label>
                                        <textarea name="description"  id="descriptionX" class="form-control" rows="4"><%= product.description %></textarea>
                                        <div id="description-error" class="error-message"></div>
                                    </div>
                
                                    <!-- Price and Quantity -->
                                    <div class="row">
                                        <div class="col-lg-4 mb-4">
                                            <label class="form-label">Regular Price</label>
                                            <input placeholder="$" id="regularPriceX"  name="regularPrice" type="text" value="<%= product.regularPrice %>" class="form-control"  >
                                            <div id="regularPrice-error" class="error-message"></div>
                                        </div>
                                        <div class="col-lg-4 mb-4">
                                            <div class="mb-4">
                                                <label class="form-label">Discount</label>
                                                <div class="input-group">
                                                    <input placeholder="$" id="discountX" name="discount" value="<%= product.discount %>" type="text" class="form-control border">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text" style="background-color: #fff; border: none; border-left: 1px solid #ced4da;">%</span>
                                                    </div>
                                                </div>
                                                <div id="discount-error" class="error-message"></div>
                                            </div>
                                        </div>
                                    </div>
                
                                    <div class="row">
                                        <div class="col-lg-4 mb-4">
                                            <label class="form-label">Small Size-Quantity</label>
                                            <input name="ssize" type="text" value="<%= product.size.s.quantity %>" class="form-control" id="ssizeq">
                                            <div id="s-error" class="error-message"></div>
                                        </div>
                                        <div class="col-lg-4 mb-4">
                                            <label class="form-label">Medium Size-Quantity</label>
                                            <input name="msize" type="text" value="<%= product.size.m.quantity %>" class="form-control" id="msizeq">
                                            <div id="m-error" class="error-message"></div>
                                        </div>
                                        <div class="col-lg-4 mb-4">
                                            <label class="form-label">Large Size-Quantity</label>
                                            <input name="lsize" type="text" value="<%= product.size.l.quantity %>" class="form-control" id="lsizeq">
                                            <div id="l-error" class="error-message"></div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div id="sumquantity-error" class="error-message"></div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-lg-4 mb-4">
                                            <label class="form-label">Color</label>
                                            <input name="color" type="text" value="<%= product.color %>" class="form-control" id="colorX">
                                            <div id="color-error" class="error-message"></div>
                                        </div>
                                    </div>
                                    
                
                                    <!-- Category -->
                                    <div class="mb-4">
                                        <label class="form-label">Category</label>
                                        <select class="form-select" style="width: 150px;" name="category">
                                            <% for (let i=0; i < cat.length; i++) { %>
                                                <option value="<%= cat[i]._id %>" <% if(cat[i]._id.toString() === product.category.toString()) { %> selected <% } %>><%= cat[i].name %></option>
                                            <% } %>
                                        </select>
                                        
                                    </div>
                
                                    <!-- Choose Images -->
                                    <div class="card mb-4">
                                        <div class="card-header">
                                            <h4>Choose Images</h4>
                                        </div>
                                        <div id="addedImagesContainer" class="col-md-6" style="display: flex;">
                                            <% for (let i = 0; i < product.productImage.length; i++) { %>
                                                <div class="mb-4" style="display: inline-block;">
                                                    <img class="rounded" style="width: 50px; height: 60px;" src="/public/photos/productImages/<%= product.productImage[i] %>" alt="image" data-filename="<%= product.productImage[i] %>" id="imgCount<%=i%>">
                                                    <span class="delete-icon" onclick="deleteImage('<%= product._id %>', '<%= product.productImage[i] %>')">❌</span>
                                                </div>
                                                
                                                
                                                
                                            <% } %>
                                        </div>
                                        
                                        <div class="card-body">
                                            <% if(product.productImage.length<5){ %>
                                            <div class="input-upload">
                                                <img src="assets/imgs/theme/upload.svg" alt="">
                                                <input type="hidden" value="<%=product.productImage.length %>" id="lengthofimage">
                                                <input class="form-control" name="images" id="imageInput" type="file" multiple>
                                                <div  id="imageerror" class="error-message" style=" color: red;"></div>

                                            </div>

                                            <% } %>
                                        </div>
                                    </div>
                
                                    <!-- Update Button -->
                                    <div>
                                        <button class="btn btn-md rounded font-sm " id="updatebtn" type="submit"  style="background-color: rgb(0, 153, 255);">Update</button>
                                    </div>
                                              <input type="hidden" id="hiddenField1" name="hiddenField1" value="">
                                               <input type="hidden" id="hiddenField2" name="hiddenField2" value="">
                                              <input type="hidden" id="hiddenField3" name="hiddenField3" value="">
                                              <input type="hidden" id="hiddenField4" name="hiddenField4" value="">
                                              <input type="hidden" id="hiddenField5" name="hiddenField5" value="">
                    
                                    <!-- Modal HTML -->


                                    
                
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <div class="modal-content img-container">
                        <img id="modalImage" src="" alt="">
                    </div>
                    <button id="btn-crop" type="button">Crop</button>
                    <!-- <div class="cropped-container">
                        <img id="output" src="" alt="">
                    </div> -->
                </div>
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="/public/admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/public/admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/public/admin-assets/js/vendors/select2.min.js"></script>
    <script src="/public/admin-assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/public/admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="/public/js/editProductval.js"></script>
   
    <!-- Main Script -->
    <script src="/public/admin-assets/js/main.js" type="text/javascript"></script>
            <script>
                $(document).ready(function(){
                    $('#customerlist').DataTable();
                })
                
            //   const imgclass = document.querySelectorAll('.rounded')  
            //   const lenimg = imgclass.length - 1
            //     console.log(lenimg)
        
//             function view(image,ind) {
//              const hidden1 = document.getElementById('hiddenField1')
//            const hidden2 = document.getElementById('hiddenField2')
//            const hidden3 = document.getElementById('hiddenField3')
//           const hidden4 = document.getElementById('hiddenField4')
//          const hidden5 = document.getElementById('hiddenField5')
//     const modal = document.getElementById('myModal');
//     const modalImage = document.getElementById('modalImage');

//     modalImage.src = image;
//     modal.style.display = 'block'; // Display the modal

//     // Initialize Cropper.js
//     let cropper = new Cropper(modalImage, {
//         aspectRatio: 1 / 1,
//         viewMode: 3
//     });

//     // Event listener for the "Crop" button
//     document.querySelector('#btn-crop').addEventListener('click', async function() {
//         var croppedImage = await cropper.getCroppedCanvas().toDataURL("image/png");
//         let dimensions = cropper.getData();
//         document.getElementById(`imgCount${ind}`).src = croppedImage
//         // Update hidden input based on 'ind' value
//         const imagedata = `index=${ind} x=${dimensions.x} y=${dimensions.y} width=${dimensions.width} height=${dimensions.height}`;
//         // Update hidden input based on 'ind' value
//         if (ind == 0) {
//             hidden1.value = imagedata;
//         } else if (ind == 1) {
//             hidden2.value = imagedata;
//         } else if (ind == 2) {
//             hidden3.value = imagedata;
//         } else if (ind == 3) {
//             hidden4.value = imagedata;
//         } else if (ind == 4) {
//             hidden5.value = imagedata;
//         }

//         // Hide the cropping container and modal, and destroy Cropper instance
//         modal.style.display = 'none';
//         cropper.destroy();
//     });

//     // Event listener for closing the modal
//     document.getElementsByClassName('close')[0].onclick = function() {
//         modal.style.display = 'none';
//         cropper.destroy();
//     };
// }


        const hidden1 = document.getElementById('hiddenField1')
        const hidden2 = document.getElementById('hiddenField2')
         const hidden3 = document.getElementById('hiddenField3')
          const hidden4 = document.getElementById('hiddenField4')
         const hidden5 = document.getElementById('hiddenField5')
          const fileerrormessage= document.getElementById('imageerror')


  document.getElementById('imageInput').addEventListener("change", handleFileSelect)
    
  function handleFileSelect(event) {
    const length = parseInt(document.getElementById("lengthofimage").value);
    const addedImagesContainer = document.getElementById("addedImagesContainer");
    const imageInput = document.getElementById("imageInput");
    const files = event.target.files;
    const selectedFiles = Array.from(files);


    selectedFiles.forEach((file, index) => {
        if (!file.type.startsWith('image/')) {
            document.getElementById('imageerror').innerHTML = "Please add images only.";
            return;
        }

        var reader = new FileReader();

        reader.onload = (function (currentFile) {
            return function (e) {
                var previewImage = document.createElement('img');
                previewImage.className = 'preview-image';
                previewImage.src = e.target.result;
                previewImage.title = currentFile.name;
                previewImage.style = "width: 50px; height: 60px;";

                const deleteButton = document.createElement('button');
                deleteButton.innerHTML = 'Delete';
                deleteButton.type = 'button';
                deleteButton.addEventListener('click', function () {
                    const container = deleteButton.parentNode;
                    container.parentNode.removeChild(container);

                    // Remove the file from the selectedFiles array
                    selectedFiles.splice(index, 1);
                 const currentImagesCount = addedImagesContainer.querySelectorAll('.preview-image').length;
                 const totalImagesCount = currentImagesCount + length;
                 if (totalImagesCount > 5) {
                    document.getElementById('imageerror').innerHTML = "You can only upload a total of 5 images.";
                    } else {
                    document.getElementById('imageerror').innerHTML = "";
                  }

                    // Create a new FileList with the remaining files
                    const remainingFileList = new DataTransfer();
                    selectedFiles.forEach(file => {
                        remainingFileList.items.add(file);
                    });

                    // Assign the new FileList to the file input field
                    imageInput.files = remainingFileList.files;

                    // Update the length property of the file input field
                    imageInput.files.length = selectedFiles.length;
                });

                const viewButton = document.createElement('button');
                viewButton.innerHTML = 'View';
                viewButton.id = `view${index}`
                viewButton.type = 'button'
                viewButton.onclick = function() {
                    var modal = document.getElementById('myModal');
                    // var modalImg = document.getElementById('img01');
                    modal.style.display = 'block';
                    // modalImg.src = e.target.result;


                    const image = document.getElementById('modalImage');
                    image.src = e.target.result
                    let cropper = new Cropper(image, {
                        aspectRatio: 1/1,
                        viewMode:3
                    
                    });

                    document.querySelector('#btn-crop').addEventListener('click',async function(){
                        var croppedImage = await cropper.getCroppedCanvas().toDataURL("image/png");
                        let dimensions = cropper.getData()
                        // console.log(ind);
                        // console.log(dimensions);
                        previewImage.src= croppedImage
                        let x=dimensions.x
                        let y=dimensions.y

                        let height=dimensions.height

                        let width=dimensions.width
                        // console.log("index= "+index+" x= "+x+" y= "+y+" width= "+width+" height= "+height);
                        const imagedata="index= "+index+" x= "+x+" y= "+y+" width= "+width+" height= "+height
                        // console.log(imagedata);

                        if (index == 0) {
                              hidden1.value = imagedata;
                              console.log("Image data for index 0:", imagedata);
                          }
                          if (index == 1) {
                              hidden2.value = imagedata;
                              console.log("Image data for index 1:", imagedata);
                          }
                          if (index == 2) {
                              hidden3.value = imagedata;
                              console.log("Image data for index 2:", imagedata);
                          }
                          if (index == 3) {
                              hidden4.value = imagedata;
                              console.log("Image data for index 3:", imagedata);
                          }
                          if (index == 4) {
                              hidden5.value = imagedata;
                              console.log("Image data for index 4:", imagedata);
                          }

  
                     
                    document.querySelector(".cropped-container").style.display = 'none';
                         modal.style.display = 'none';
                        cropper.destroy()
                    })
                    document.getElementsByClassName('close')[0].onclick = function() {
                        document.getElementById('myModal').style.display = 'none';
                        cropper.destroy()
                    };
                };

                var container = document.createElement('div');
                container.className = 'mb-4';
                container.appendChild(previewImage);
                container.appendChild(viewButton);
                container.appendChild(deleteButton);
                addedImagesContainer.appendChild(container);

                // Update the error message based on the current state
                const currentImagesCount = addedImagesContainer.querySelectorAll('.preview-image').length;
                const totalImagesCount = currentImagesCount + length;
                if (totalImagesCount > 5) {
                    document.getElementById('imageerror').innerHTML = "You can only upload a total of 5 images.";
                } else {
                    document.getElementById('imageerror').innerHTML = "";
                }
            };
        })(file);

        reader.readAsDataURL(file);
    });
}






  function deleteImage(productId, productImage) {
    deleteSingleImage(productId, productImage);
}

function deleteSingleImage(productId, productImage) {
    fetch("/admin/deleteimage", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                productId,
                productImage
            })
        })
        .then((response) => {
            if (!response.ok) {
                throw new Error("Network response was not ok");
            }
            return response.json();
        })
        .then((data) => {
            if (data.success) {
                // console.log("Image deleted successfully");
                window.location.reload()
                removeImage(productImage);
            } else {
                console.error("Error deleting image:", data.error);
            }
        })
        .catch((error) => {
            console.error("Fetch error:", error);
        });
}

function removeImage(filename) {
    const imageElement = document.querySelector(`[data-filename="${filename}"]`);
    if (imageElement) {
        imageElement.closest('.mb-4').remove();
    }
}

// // Function to handle file selection and add new photos to the existing list
// // Function to handle file selection and add new photos to the existing list
// // function handleFileSelect(event) {
// //     const files = event.target.files;
// //     for (let i = 0; i < files.length; i++) {
// //         const file = files[i];
// //         displayThumbnail(file);
// //     }
// // }

// // Function to display thumbnail for a selected image file
// // Function to handle file selection and add new photos to the existing list
// function handleFileSelect(event) {
//     const files = event.target.files;
//     const thumb = document.querySelectorAll('.thumbnail')
//     if(thumb){
//         thumb.forEach(el=>el.remove())
//     }
//     for (let i = 0; i < files.length; i++) {
//         const file = files[i];
//         displayThumbnail(file,i);
//     }
// }

// // Function to display thumbnail for a selected image file
// function displayThumbnail(file,i) {
//     const addedImagesContainer = document.getElementById("addedImagesContainer");
    
//     // Create thumbnail element
//     const thumbnail = document.createElement('div');
//     thumbnail.classList.add(`thumbnail`);


//     // Create image element inside thumbnail div
//     const img = document.createElement('img');
//     img.src = URL.createObjectURL(file);
//     img.alt = "thumbnail";
//     img.style.width = "50px"; // Set fixed width
//     img.style.height = "auto"; // Maintain aspect ratio

//     // Create remove icon
//     const removeIcon = document.createElement("span");
//     removeIcon.classList.add("remove-icon");
//     removeIcon.innerHTML = "&times"; // Multiplication symbol as a cross

//     // EventListener to remove the image on icon click
//     removeIcon.addEventListener("click", function() {
//         // Remove the thumbnail from the container
        
//         thumbnail.remove();

//         // Optionally, you can also update the database here to remove the corresponding image
//     });

//     // Append elements to thumbnail
//     thumbnail.appendChild(img);
//     thumbnail.appendChild(removeIcon);

//     // Append thumbnail to the container
//     addedImagesContainer.appendChild(thumbnail);
// }

// // Add event listener to handle file selection
// document.getElementById('imageInput').addEventListener("change", handleFileSelect);



            function validateAndSubmit() {
            if (validateForm()) {
                document.getElementById("productform").submit();
                // Assuming the form has an ID "myForm"
            } else {
                return false;
            }
        }
    

        setTimeout(() => {
            const insertmessage = document.getElementById("insertmessage");
            insertmessage.style.display = "none";
        }, 5000)


    </script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-products-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:12 GMT -->
</html>