<%- include("../partials/adminHeader") %>
    <section class="content-main">
    <div class="content-header">
      <h2 class="content-title">Product-Offer Management</h2>
      <% if (locals.message) { %>
        <span><p style="color: green;"  id="message"><%=locals.message  %></p></span>
         <% } %>
         <% if (locals.errormessage) {%>
          <span><p style="color: rgb(233, 15, 15);"  id="error-message"><%=locals.errormessage %></p></span>

       <%  } %>
      <div>

        <a class="btn-sm" style="background-color: black;"  href="/admin/addproductOffer">Add Offer +</a>
        

      </div>
      
    </div>
    <div class="card mb-4">
      <div class="card-body">
        <div class="table-responsive">
         

              <% if (!offers.length) { %>

                <h1>No Offers Are Added Yet</h1>

                <% }else{ %>

                  <table class="table table-hover" id="productOfferTable">
                    <thead>
                      <tr class="text-left">
                        <th class="text-center">No</th>
                        <th class="text-center">Offer Name</th>
                        <th class="text-center">Product</th>
                        <th class="text-center">Discount</th>
                        <th class="text-center">Starting date</th>
                        <th class="text-center">Ending date</th>

                        <th class="text-center">Edit</th>
                        <th class="text-center">Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for( let i=0; i < offers.length; i++ ) { %>


                        <tr class="text-left" id="divtodelete<%=offers[i]._id%>">
                          <td class="text-center" width="10%">
                            <%= i+1 %>
                          </td>
                          <td class="text-center" width="20%">
                            <%= offers[i].name%>
                          </td>
                          <td class="text-center" width="15%">
                            <%= offers[i].productOffer.product.productName %>
                          </td>
                          <td class="text-center" width="15%">
                            <%= offers[i].productOffer.discount %>
                          </td>
                          <td class="text-center" width="20%">
                            <%= offers[i].startingDate.toLocaleDateString() %>
                          </td>
                          <td class="text-center" width="10%">
                            <%= offers[i].endingDate.toLocaleDateString()%>
                          </td>

                          <td class="text-center" width="10%"><a class="btn" style="color: aliceblue;background-color: black;" href="/admin/editprodoffpage?id=<%=offers[i]._id%>">Edit</a></td>
                          <td class="text-center" width="20%">
                            <% if (offers[i].status) { %>
                              <button id="delete-productOffer<%= offers[i]._id %>"
                                class="btn btn-sm btn-success rounded font-sm mt-15"
                                onclick="deleteProductOffer('<%= offers[i]._id %>')">
                                Delete
                              </button>
                              <% } else { %>
                                <button id="delete-productOffer<%= offers[i]._id %>"
                                  class="btn btn-sm btn-danger rounded font-sm mt-15"
                                  onclick="deleteProductOffer('<%= offers[i]._id %>')">
                                  Delete
                                </button>
                                <% } %>
                          </td>
                        </tr>

                        <% } %>
                    </tbody>
                  </table> <!-- table-responsive.// -->
                  <% } %>

        </div>
      </div> <!-- card-body end// -->
    </div> <!-- card end// -->

  </section> <!-- content-main end// -->


  <!-- Modal Add Coupon -->


  <div class="modal fade" id="addCoupon" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Offer </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
        </div>

      </div>
    </div>
  </div>

  <!--End Modal  Add Coupon-->


  <!-- Modal Edit Coupon -->


  <div class="modal fade" id="editproductoff" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Offer </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/admin/productEditOffer" method="post" id="editoffer">
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Offer Name</label>
              <input type="text" class="form-control" name="editofferName" id="editofferName" value="">
              <div id="editnameerror"></div>
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Product</label>
              <select name="productName" id="productName" class="form-select">
                <% for( let i=0; i < products.length; i++ ) { %>
                  <option class="form-option" value="<%= products[i]._id %>">
                    <%= products[i].productName %>
                  </option>
                  <% } %>
              </select>

            </div>
            <!-- <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Coupon Code</label>
                        <input type="text" class="form-control" name="couponCode" id="couponCode">
                    </div> -->
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Discount Amount</label>
              <input type="text" class="form-control" name="discountAmount" id="editdiscount">
              <div id="editdiscounterror"></div>
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Starting Date (YYYY/MM/DD)</label>
              <input type="date" class="form-control" name="startDate" id="editstartDate" value="">
              <div id="editstartdateerror"></div>
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Ending Date (YYYY/MM/DD)</label>
              <input type="date" class="form-control" name="editendDate" id="end" value="">
              <div id="editenddate"></div>
            </div>
            <div class="mb-3">
              <input type="hidden" class="form-control" id="offerId" name="offerId" />
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" style="background-color: black;">Update Offer</button>
            </div>

          </form>
        </div>

      </div>
    </div>
  </div>

        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                        document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="/public/admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/public/admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/public/admin-assets/js/vendors/select2.min.js"></script>
    <script src="/public/admin-assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/public/admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- Main Script -->
    <script src="/public/admin-assets/js/main.js" type="text/javascript"></script>
    <!-- <script src="/public/js/prodEditOff.js"></script>
    <script src="/public/js/productOfferVal.js"></script> -->
    
    
    <script>
      setTimeout(function() {
            document.getElementById('message').style.display = 'none';
        }, 5000);
        setTimeout(function() {
            document.getElementById('error-message').style.display = 'none';
        }, 5000);
        
        
        // 5000 milliseconds = 5 seconds
   function deleteProductOffer(offerid){
     
    // console.log(offerid)

    let confirmationMessage 
       
           confirmationMessage = "Are you sure you want to Delete the offer"
            
    swal({
        text: confirmationMessage ,
        buttons: ["cancel", true],
    }).then((result) => {
        if (result) {
            $.ajax({
                url: `/admin/deleteoffer?id=${offerid}`,
                method: 'DELETE',
                contentType: 'application/json',
                success: function(data) {
                    if (data.success===true) {
                        const divToDelete = document.getElementById(`divtodelete${offerid}`)
                        if (data.success) {
                           divToDelete.remove() 
                        }
                 
                     swal("offer Deleted!", {
                        icon: "success",
                    })
            } else {
                console.error('Unlisting failed');
            }
        },
                error: function(error) {
                    
                    swal("Oops!", "Failed to unlist the category. Please try again.", "error");
                    console.error('AJAX error:', error);
                }
            });
        } else {
            // If the user cancels, do nothing
            // Optionally, you can display a message here 
        }
    });




   }












   function editOffer(id){
        //  console.log("click cheythu")
    $.ajax({
        url:`/admin/productEditOffer/${id}`,
        method:"GET",
        success:function(res){
             document.getElementById("productName").value = res.productOffer.product
            //  console.log(document.getElementById("productName").value)
            document.getElementById('editofferName').value = res.name; // Corrected ID to 'editofferName'
            // console.log(document.getElementById('editofferName').value) // Corrected ID to 'editofferName'
            document.getElementById('editdiscount').value = res.productOffer.discount; // Corrected ID to 'editdiscount'
            // console.log(document.getElementById('editdiscount').value) // Corrected ID to 'editdiscount'
             document.getElementById('editstartDate').value = res.formattedStartingDate // Corrected ID to 'editstartDate'
            //  console.log(document.getElementById('editstartDate').value) // Corrected ID to 'editstartDate'
           document.getElementById("end").value = res.formattedEndingDate // Corrected ID to 'end'
          //  console.log(document.getElementById("end").value) // Corrected ID to 'end'
           document.getElementById('offerId').value = res._id;
           
          //  console.log(document.getElementById("editproductoff"))
              $("#editproductoff").modal("show");
        },
        error:function(error){
            console.log(error)
        }
    });
}














    </script>
    
    
 
    
        
</body>




</html>