<%- include("../partials/adminHeader") %>

<section class="content-main">
        
    <style>
        .pagination {
            display: flex;
            justify-content: center;
        }



        .active {
            /* Add styles for the active page */

            color: #fff;
        }

        .btn:hover {
            /* Add styles for button hover state */
            background-color: #ddd;
        }

        .table-spacing th,
        .table-spacing td {
            padding-left: 80px;
            /* Adjust the value as needed for the desired spacing */
        }
    </style>

    <div class="content-header row">
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="content-title card-title">Sales Report</h2>

        </div>
    </div>

    <div class="card mb-4">
        <header class="card-header">
            <div class="row gx-3">


                <div class="row">
                    <div class="col-lg-2 col-6 col-md-3">
                        Monthly
                        <select class="form-select" onchange="location.href='/admin/monthlySalesReport?monthly=' + this.value">
                            <% if (locals.salesMonthly) { %>
                                <% const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']; %>
                                <% for (let i = 0; i < months.length; i++) { %>
                                    <option value="<%= i + 1 %>" ><%= months[i] %></option>
                                <% } %>
                            <% } else if (locals.salesYearly) { %>
                                <option value="salesYearly" selected>salesYearly</option>
                                <option value="salesToday">salesToday</option>
                                <option value="salesWeekly">salesWeekly</option>
                                <option value="salesMonthly">salesMonthly</option>
                            <% } %>
                        </select>
                        
                    </div>
                    <div class="col-md-2 col-6">
                        <p>custom Date</p>
                        <input type="date" id="selectedDate" class="form-control" value="<%= locals.date ? date : '' %>" max="<%= latestDate ? latestDate.toISOString().split('T')[0] : '' %>">
                        
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="row">
                            <div class="col-md-6 col-6 text-center"> <!-- Adjusted column class to make both text and input fields appear on the same line -->
                                <p>Starting Date</p>
                                <input type="date" id="startdate" class="form-control" value="<%= locals.startDate ? startDate : '' %>"  max="<%= latestDate ? latestDate.toISOString().split('T')[0] : '' %>">
                            </div>
                            <div class="col-md-6 col-6 text-center"> <!-- Adjusted column class to make both text and input fields appear on the same line -->
                                <p>Ending Date</p>
                                <input type="date" id="enddate" class="form-control" value="<%= locals.endDate ? endDate : '' %>" max="<%= latestDate ? latestDate.toISOString().split('T')[0] : '' %>">
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                        <a href="#" id="createSalesReport" class="btn btn-primary mb-2" onclick="downloadPdf()">Generate PDF</a>
                        <a href="" id="generateExcel" class="btn btn-success mb-2">Download Excel</a>
                    </div>
                </div>
                
            </div>
        </header>
    </div>




    <div class="right mt-5 container" >
        <div id="myTable">
        <table id="salesTable" class="table table-hover">
            <thead>
                TotalCount:<%=data.length%>
                <tr>
                    <th>#</th>
                    <th> data ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Product</th>
                    <th scope="col">Date</th>
                    <th scope="col">payment</th>
                    <th scope="col">Status</th>
                    <th scope="col">coupon</th>
                    <th scope="col" class="text-end"> Price </th>
                </tr>
            </thead>
            <tbody>
                 

                <% for (let i=0; i < data.length; i++) { %>

                    <tr>
                        <td>
                            <%= i + 1 %>
                        </td>
                        <td>
                            <%= data[i].orderId%>
                        </td>
                        <td><b>
                            <%= data[i].user.name%>
                            </b></td>

                        <td><b>
                               
                                <%= data[i].product.productName%><br>
                               



                            </b></td>

                        <td>
                            <%= data[i].orderedOn.toLocaleDateString('en-GB') %>
                        </td>
                        <td>
                            <%= data[i].paymentMethod %>
                        </td>
                        <td>
                            <%= data[i].products.status %>
                        </td>
                        <td>
                            <% if (data[i].coupon) { %>
                                coupon used <br>
                               <%=data[i].couponDiscount %> %
                                <% }else{ %>
                                    none
                                    <% } %>
                           
                        </td>
                        <td class="text-end">
                            ₹ <%= data[i].products.productPrice %>
                        </td>
                    </tr>

                    <% } %>
            </tbody>
        </table>
        <div class="justify-content-center">
            <% let totalRevenue = 0; %>
            <% for (let i = 0; i < data.length; i++) { %>
                
                <% totalRevenue += data[i].products.productPrice; %>
            <% } %>
            <h4>Total revenue = ₹ <%= totalRevenue.toFixed(2) %></h4>
            
        </div>
    </div>
        <% if (totalPages){ %>
            <nav aria-label="Page navigation example" >
                <ul class="pagination justify-content-center">
                <% if (currentPage > 1) { %>
                  <li class="page-item ">
                    <a class="page-link" href="/admin/sales-report?page=<%=currentPage-1%>" >Previous</a>
                  </li>
                  <% } %>
                 
                  <li class="page-item"><a class="btn btn-sm " ><%=currentPage%></a></li>
                
                  <% if (currentPage < totalPages) { %>
                  <li class="page-item">
                    <a class="page-link" href="/admin/sales-report?page=<%=currentPage+1%>">Next</a>
                  </li>
                  <% } %>
                </ul>
              </nav>
              <% } %>



       
      </section>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>


      <script>

document.getElementById('selectedDate').addEventListener('change', function() {
  const selectedDate = this.value;
  if (selectedDate) {
    window.location.href = '/admin/sales-report?day=' + selectedDate;
  }
});


document.getElementById("enddate").addEventListener('change',function(){
    const startDate = document.getElementById("startdate").value
    const enddate = document.getElementById("enddate").value
    window.location.href = `/admin/salesreportaccordingtotwodates?startdate=${startDate}&enddate=${enddate}`;

    
})



    function downloadPdf() {
            const element = document.getElementById('myTable')
            // console.log(element);
            html2pdf().from(element).save();
            
        }

       document.getElementById('generateExcel').addEventListener('click', function() {
    // Get the HTML table element by ID
    var table = document.getElementById('myTable');

    // Convert HTML table to a workbook object
    var wb = XLSX.utils.table_to_book(table);

    // Set column width to accommodate dates
    wb.Sheets[wb.SheetNames[0]]['!cols'] = [{ width: 15 }]; // Adjust the width as needed

    // Convert workbook to binary data
    var wbout = XLSX.write(wb, { bookType: 'xlsx', type: 'binary' });

    // Function to convert binary string to array buffer
    function s2ab(s) {
        var buf = new ArrayBuffer(s.length);
        var view = new Uint8Array(buf);
        for (var i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
        return buf;
    }

    // Create a Blob object from binary data
    var blob = new Blob([s2ab(wbout)], { type: 'application/octet-stream' });

    // Save the Blob object as a file using FileSaver.js
    saveAs(blob, 'table.xlsx');
});




      </script>